body {
    text-align: center;
}

.image {
    padding: 50px;
    word-spacing: 50px;
    width:200px;
    height: 200px;

}

.teamLogo {
    padding: 20px;
}

img {
    border: 50px;
    width: 150px;
    height: 150px;
    padding: 40px;
    
}

.teamContainter {
    width: 500px;
}



        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 50%;
          width: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
        }

/* #nav-bar{
    background: grey;
    padding: 8px;
    border: solid black 1px;
    margin-bottom: 3px;
}

#name{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

#bodybox {
    background: orange;
    padding: 500;
}

.jtron {
  margin-left: 50px;
  margin-right: 50px;
}
/* 
.teams{
    text-align: center;
} */
/* img {
    margin-left: 10px;
    height: 180px;
    width: 180px;
} */ 
