

body {
    text-align: center;
    background-image: URL(../images/project1back.jpg)
  
}

.jumbotron{
    background-image: URL("../images/jordan-tongue.jpg");
    color: white;
}

.image {
    padding: 50px;
    word-spacing: 50px;
    width:175px;
    height: 175px;
    transform: rotateZ(90deg);
}

.teamLogo {
    padding: 20px;
}

img {
    /* border: 2px red dotted; */
    width: 100px;
    height: 100px;
    padding: 3px;    
}

img:hover {
    opacity: 1;
    transform: scale(1.2) rotate(20deg);
    width: 100px;
    height: 100px;

}

.teamContainter {
    width: 500px;
}


/* CSS FOR THE PLACES MAPS */

        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        /* #map {
            position: relative;
            float: right;
            overflow: hidden;
            margin-top:20px;
          height: 40%;
          width: 40%;
          border: black solid 3px;
         
        } */
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          
        }
        .controls {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid transparent;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            height: 29px;
            margin-left: 17px;
            margin-top: 10px;
            outline: none;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
          }
    
          .controls:focus {
            border-color: #4d90fe;
          }
          .title {
            font-weight: bold;
          }
          #infowindow-content {
            display: none;
          }
          #map #infowindow-content {
            display: inline;
          }

.mapLoc{
   height: 100%;
   width: 100%;
 
}


.jtron {
  margin-left: 50px;
  margin-right: 50px;
}

#tickBox{
    padding: 10px;
    margin:5px;
    background-color: #fff;
}

#todaysScores {
    margin: 10px;
    padding: 10px;
}

.mapLoc {
    margin-top: 100px;
}

.name {
    text-align: center;
    color: white;
    font-weight: bolder;
   
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.jumbotron {
    border-bottom: 3px rgb(172, 22, 22) solid;
    opacity: .9;
}

.display-4{
    font-weight: bolder;
    font-family: "Arial Black", Gadget, sans-serif;
    /* text-shadow: -7px 0 red, 0 7px red, 7px 0 red, 0 -px red; */
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}

.lead{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    margin-left:85px;
    -webkit-animation-delay: 3s;
}

#tickBox{
opacity:1;
margin-left: 100px;
z-index: 1;
font-weight: bolder;
border: rgb(172, 22, 22) 1px solid;
background-color: black;
color: rgb(138, 230, 1);
}



.aboutCol{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    color: white;
}

.ContactCol{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    color: white;
}

#showInfo {
    clear: both;
    font: 40px white;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 100px;
 
}

.footBar {
    padding:20px;
    background-color: black;
    border-top: 3px rgb(172, 22, 22) solid;
}

/* .cardBod{
    background-color: white;
} */

.cardBod {
    padding: 100px;
    background: rgb(218, 217, 217);
    margin-left:50%;
    border: 3px rgb(172, 22, 22) solid;
    margin-bottom: 30px;
    opacity: 10;
    

}

#me-text {
    margin-top: -80px;
    font-weight: bolder;
    font: 30px white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.para {
    margin-top: 15px;
    font-weight: bold;
    
}

.contactBod {
    padding: 100px;
    background: rgb(218, 217, 217);
    /* margin-left:50%; */
    border: 3px rgb(172, 22, 22) solid;
    margin-bottom: 30px;
    opacity: 10;
    

}
